.main-header {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 272px;
    right: 0;
    z-index: 4;
    min-width: 600px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

@media (min-width: 992px) {
    .main-header {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        top: 0;
        left: 272px;
        right: 0;
        z-index: 4;
    }
}