<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
    <img src="https://www.primojapan.co.jp/en/company/logo/main/0/teaserItems1/00/binaryNodeName/img-logo%5B1%5D.gif" alt="..." width="100%" class="mr-3 img-thumbnail shadow-sm">
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">メイン</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="/" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                ホーム
            </a>
    </li>
    <li class="nav-item">
      <a href="/contact/create" class="nav-link text-dark font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                お問い合わせ
            </a>
    </li>
    <li class="nav-item">
      <a href="/profile/show" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                プロフィール
            </a>
    </li>
  </ul>

</div>
    <div class="page-content p-5" id="content">

        <%= yield %>
    </divs>
</div>